*.pyc
*.pyo

.tox/
.coverage

build/
dist/
testapp/env/
testapp/redis/backup/
testapp/redis/slave/
testapp/redis/backup.pid
testapp/redis/backup.log
testapp/redis/slave.pid
testapp/redis/slave.log
testapp/settings_local.py

MANIFEST
