<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} &middot; Flask-And-Redis</title>
  {% block extra_head %}{% endblock %}
</head>

<body>

  <h1>Comments App</h1>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}

  <footer>
    <p>
      This is test application for
      <a href="https://github.com/playpauseandstop/Flask-And-Redis">Flask-And-Redis</a>
      extension. Source code available on GitHub.
    </p>
    <p><small>All data wiped every 12 hours.</small></p>
  </footer>

  {% block extra_body %}{% endblock %}

</body>

</html>
